#json-viewer {
  text-wrap: nowrap;
}

#json-viewer .object-key-val {
  width: fit-content;
}

#json-viewer .object-key-val:not([id$='attributes']) > .object-container > .object-content > .variable-row:hover {
  background-color: #7a86b866;
  cursor: pointer;
}

#json-viewer .ant-spin {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.react-json-view {
  padding: 10px;
}
