#json-viewer {
  text-wrap: nowrap;
}

#json-viewer .object-key-val {
  width: fit-content;
}

#json-viewer .clickable {
  border: solid 2px #5070e655;
  background-color: #5070e611;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
}

#json-viewer .clickable:hover {
  background-color: #5070e633;
}
