.highlight-div {
  margin: 0px;
  border: 0px;
  background: none;
  box-sizing: inherit;
  display: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  tab-size: inherit;
  text-indent: inherit;
  text-rendering: inherit;
  text-transform: inherit;
  white-space: pre-wrap;
  word-break: keep-all;
  overflow-wrap: break-word;
  outline: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  resize: none;
  color: transparent;
  opacity: 0.8;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: transparent;
  padding: 15px;
  min-height: 16px;
}

/* Tree Viewer */

#tree-viewer {
  /* overflow: auto;
  height: 100%; */
  padding-top: 2px;
  padding-bottom: 2px;
  --node-selected: #1573de;
}

#tree-viewer .node-text {
  cursor: pointer;
  display: inline-block;
}

#tree-viewer .node-text.selected {
  color: var(--node-selected);
  font-weight: 500;
}

#tree-viewer .end-node {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
}

.editor-range-highlight,
#tree-viewer .node-text.selected,
#json-viewer .selected {
  background-color: rgba(255, 255, 0, 0.25);
  border: solid 1px yellowgreen;
}

.namespace-breadcrumb > ol {
  flex-wrap: nowrap;
}

.ant-dropdown-menu-sub {
  max-height: 50vh;
  overflow-y: auto;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.ant-dropdown-menu-submenu-title {
  display: flex;
  align-items: center;
}

.editor-viewer-divider {
  height: 50%;
  width: 100%;
  margin: auto 4px;
  border-inline-start-width: 4px;
  border-inline-start-style: solid;
  border-radius: 2px;
  opacity: 0.2;
}

.editor-viewer-divider:hover {
  opacity: 0.4;
  cursor: ew-resize;
}
