.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
node_modules/**
**/*.test.js
**/*.spec.js
.github/**
docs/**
*.vsix
vite.config.ts
tasks.md